#buttons {
    text-align: center;
    display: block;
}

#set_grid_size {
    display: inline-block;
}

#container {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: white;
    border: thin solid black;
}